.header__lang-link {
  padding: 0;
  margin: 0;
  margin-right: 18px;
  width: 30px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: #FFFFFF;
  text-align: right;
}

.header__lang-link:last-child {
  margin-right: 0;
}
