.cover__link {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 740px;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  background-image: url('../../../images/cover/cover-trains.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* затемнить при наведении на 0.3 */
.cover__link::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  content: '';
  opacity: .3;
  transition: .8s;
}

/* затемнить при наведении до 0.8 в течение 0.8 секунд*/
.cover__link:hover::before {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
 }

 @media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
 }

 @media screen and (max-width: 767px) {
  .cover__link {
    min-height: 300px;
  }
 }

 @media screen and (max-width: 459px) {
  .cover__link {
    min-height: 200px;
  }
 }


