.footer__columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .footer__columns {
    flex-direction: column;
  }
}
