.intro__list {
  max-width: 690px;
  min-height: 90px;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  padding-top: 33px;
  white-space: pre-line;
}
