.lead__image {
  background-image: url(../../../images/lead__image.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin: 64px 0 0;
  /* пропорциональное размеру картинки сжатие */
  padding-bottom: 62.5%;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    margin: 56px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin: 40px 0 0;
  }
}
