.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 56px 0 0;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    padding: 48px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
