.place {
  width: 100%;
  max-width: 984px;
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
  "title website"
  "image text";
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

