.place__url {
  margin: 0;
  padding: 0;
  max-width: 456px;
  min-height: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  grid-area: website;
}
