.intro__title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
